<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macademy.shop.cart.mapper.CartMapper">

    <!-- 장바구니 생성  -->
    <insert id="inserCart" parameterType="cartDto" useGeneratedKeys="true" keyColumn="cart_Id" keyProperty="cartId">
        INSERT INTO    cart{member_id}
        VALUES         (#{memberId})
    </insert>

    <!-- 장바구니 상품 추가  -->
    <insert id="insertCartItem" parameterType="cartItemDto" useGeneratedKeys="true" keyColumn="cart_item_id" keyProperty="cartItemId">
        INSERT INTO     cart_item(cart_id, item_id, count)
        VALUES          (#{cartId}, #{itemId}, #{count})
    </insert>
    <!-- 로그인한 회원의 장바구니가 존재하는지 확인    -->
    <select id="findMemberCart" resultType="cartDto" parameterType="Long">
        SELECT  *
        FROM    cart
        WHERE   member_id = #{memberId}
    </select>
    <!-- 장바구니에 해당 상품이 존재하는지 확인   -->
    <select id="findItemInCart" parameterType="map" resultType="cartItemDto">
        SELECT  *
        FROM    cart_item
        WHERE   cart_id = #{cartId} AND item_id = #{itemId}
    </select>
    <!-- 장바구니에 추가된 상품의 수량 변경   -->
    <update id="updateCount" parameterType="map">
        UPDATE   cart_item
        SET      count = #{count}
        WHERE    cart_item_id = #{cartItemId}
    </update>

    <select id="findCartDetail" parameterType="Long" resultType="cartDetailDto">
        SELECT   ci.cart_item_id
                 , i.item_name
                 , i.price
                 , ci.count
                 , im.img_url
        FROM     cart_item ci     JOIN    item i      ON ci.item_id = i.item_id
                                  JOIN    item_img im ON i.item_id = im.item_id
        WHERE    ci.cart_id = #{cartId} AND im.rep_img_yn = 'Y'
        ORDER BY ci.reg_time DESC
    </select>

    <select id="findMemberId" parameterType="Long">
        SELECT   c.member_id
        FROM     cart c   JOIN      cart_item ci    ON  c.cart_id = ci.cart_id
        WHERE    cart_item_id = #{cartItemId}
    </select>

    <select id="findCartItem" parameterType="Long" resultType="cartItemDto">
        SELECT  *
        FROM     cart c   JOIN      cart_item ci    ON  c.cart_id = ci.cart_id
        WHERE    cart_item_id = #{cartItemId}
    </select>

    <delete id="deleteCartItem" parameterType="Long">
        DELETE
        FROM    cart_item
        WHERE   cart_item_id = #{cartItemID}
    </delete>
</mapper>